@charset "utf-8"; /*daily*/
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 1440px) {
    .ap-daily-logo {
        float: left;
        margin-right: 95px;
    }

    .ap-daily-contain {
        background: #fff;
    }

    .ap-daily-wrap {
        box-sizing: border-box;
        background: #fff;
        float: left;
        width: 100%;
    }

    #exampleFormControlTextarea1 {
        width: 650px;
    }

    .ap-daily-label input {
        line-height: 42px;
        height: 42px;
        padding-right: 54px;
        width: 465px;
        float: left;
    }

    #exampleFormControlTextarea1 {
        width: 565px !important;
    }

    #post-container {
        width: 565px !important;
    }
}

.ap-daily-collapse {
    width: 0px;
}

#ap-daily-syzs1 {
    position: absolute;
    bottom: 1px;
    display: inline-block;
    right: 4px;
    font-size: 14px;
    /* background: #fff; */
    padding: 3px;
}

#ap-daily-time span {
    color: red !important;
    font-weight: 700;
}

.ap-daily-select {
    background: #f2f6fc;
    display: inline-block;
    padding: 0 10px;
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}

.ap-daily-tuij {
    color: #a8abb2;
    font-size: 14px;
}

.ap-daily-text .ap-daily-formname {
    height: 45px;
    line-height: 45px;
}

.ap-daily-upload1 {
    margin-top: 42px;
    padding-bottom: 35px;
    margin-bottom: 0px;
}

.ap-daily-btn button {
    margin-top: 0px;
}

.ap-daily-banner {
    margin-bottom: 10px;
}

.ap-daily-maskdetimg {
    margin-top: 23px;
    float: right;
    margin-right: 10px;
}

.ap-daily-label .form-control {
    width: 625px;
}

.ap-daily-labelarea textarea {
    width: 950px;
    height: 265px;
    resize: none;
    padding-bottom: 20px;
}

.form-group {
    overflow: hidden;
}

.form-check-label span {
    height: 42px;
    line-height: 42px;
}

.form-check-inline label {
    display: block;
}

.form-check-inline {
    width: 1084px;
}

.ap-daily-text #exampleFormControlTextarea1 {
    width: 950px;
    padding-right: 82px;
}

#post-container {
    width: 950px;
    margin-left: 135px;
}

#curLen, #curLen1 {
    color: #000;
}

#ap-daily-syzs1 #maxLen1, #ap-daily-syzs #maxLen {
    color: #909399;
}

#uploader-demo {
    margin-left: 160px;
    margin-top: 20px;
}

.ap-daily-slognys .radio-inline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 155px !important;
    margin-bottom: 20px;
}

.ap-daily-slognys .radio-inline {
    background: #f2f6fc;
    display: block;
    padding: 15px 10px;
    margin-left: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #606266;
}

.ap-daily-slognys .radio-inline input {
    /*height: 42px;*/
    /*line-height: 42px;*/
    display: inline-block;
    margin-left: -32px !important;
    margin: 0;
}

.ap-daily-slognys .radio-inline input:focus {
    border: 0;
    outline: none;
    box-shadow: none;
    margin: 0;
}

.ap-daily-slogn {
    margin-top: 18px;
}

/*  gwx核对账单设置 */
.ap-daily-theme {
    border-bottom: 1px solid #dcdfe6;
    color: #606266;
    font-size: 16px;
    line-height: 47px;
    padding: 0 22px;
}

.ap-daily-checkbilling-form {
    padding: 24px;
    color: #606266;
}

.ap-daily-checkbilling-form .control-label {
    width: 110px;
    float: left;
    margin: 0;
    text-align: left;
    font-weight: normal;
    color: #909399;
    line-height: 34px;
    min-height: 34px;
}

.ap-daily-checkbilling-form .child-option {
    padding-left: 25px;
}

.ap-daily-checkbilling-form .radio, .ap-daily-checkbilling-form .checkbox {
    margin: 10px 0;
}

.ap-daily-checkbilling-form input[type=radio], .ap-daily-checkbilling-form input[type=checkbox] {
    top: 2px;
}

.ap-daily-checkbilling-form .form-control {
    width: 160px;
    margin: 0 10px;
}

.ap-daily-checkbilling-form .select-time {
    display: flex;
    align-items: center;
}

.ap-daily-checkbilling-form .inline-item .checkbox {
    display: inline-block;
    margin-right: 30px;
}

.ap-daily-checkbilling-form .theme {
    color: #a8abb2;
    padding-top: 10px;
    padding-bottom: 5px;
}

.ap-daily-checkbilling-form .option .radio {
    margin: 15px 0;
}

.btn-save {
    background-color: #ff8f1e;
    width: 104px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
}

.btn-save:hover {
    background-color: #f47e07;
}

/*  gwx订单管理-等待买家付款*/
.ap-daily-order-list {
    margin-left: 24px;
    max-width: 1056px;
}

.ap-daily-order-tab {
    border-bottom: 2px solid #e4e7ed;
}

.ap-daily-order-tab span {
    display: inline-block;
    line-height: 55px;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    color: #909399;
}

.ap-daily-order-tab span:hover, .ap-daily-order-tab span.active {
    color: #19a677;
}

.ap-daily-order-tab span::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    display: block;
    content: "";
    background-color: #19a677;
    transition: width .3s cubic-bezier(.645, .045, .355, 1);
}

.ap-daily-order-tab span.active::after {
    width: 100%;
}

.ap-daily-order-list-wrap {
    padding-top: 20px;
}

.ap-daily-order-list-panel {
    display: none;
}

.ap-daily-order-list-panel table {
    width: 100%;
    margin-bottom: 20px;
}

.ap-daily-order-list-panel table:first-child {
    margin-bottom: 12px;
}

.ap-daily-order-list-panel th {
    background-color: #f8f8f8;
    line-height: 40px;
    color: #909399;
    text-align: center;
    border-left: 0 !important;
}

.ap-daily-order-list-panel tr {
    border: 1px solid #e4e7ed;
}

.ap-daily-order-list-panel .price {
    width: 115px;
}

.ap-daily-order-list-panel .number {
    width: 85px;
}

.ap-daily-order-list-panel .sell {
    width: 100px;
}

.ap-daily-order-list-panel .buy {
    border-left: 1px solid #e4e7ed;
    width: 125px;
}

.ap-daily-order-list-panel .status {
    border-left: 1px solid #e4e7ed;
    width: 125px;
}

.ap-daily-order-list-panel .money {
    width: 130px;
    border-left: 1px solid #e4e7ed;
}

.ap-daily-order-list-panel .assess {
    border-left: 1px solid #e4e7ed;
    width: 110px;
}

.ap-daily-order-list-panel td {
    text-align: center;
    padding: 12px 20px;
    color: #606266;
    line-height: 22px;
}

.ap-daily-order-list-panel td p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90px;
}

.ap-daily-order-list-panel .order-code {
    background-color: #eef6ff;
}

.ap-daily-order-list-panel .order-code td {
    padding: 0 20px;
    line-height: 40px;
}

.ap-daily-order-list-panel .order-code td:first-child {
    text-align: left;
    color: #606266;
}

.ap-daily-order-list-panel .order-code td:last-child {
    text-align: right;
    color: #909399;
}

.ap-daily-order-list-panel .message {
    width: 40px;
    margin: 0 auto;
}

.ap-daily-order-list-panel .iconmessage {
    color: #3dbc75;
    cursor: pointer;
}

.ap-daily-order-list-panel a {
    color: #3395fa;
}

.ap-daily-order-list-panel .gray {
    color: #909399;
    font-size: 12px;
}

.ap-daily-order-list-panel .info {
    text-align: left;
}

.ap-daily-order-list-panel .info .title {
    text-overflow: ellipsis;
}

.ap-daily-order-list-panel .btn-ship {
    background-color: #ff8f1e;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    width: 44px;
    line-height: 24px;
    text-align: center;
    margin-top: 2px;
}

.ap-daily-order-list-nodata {
    color: #909399;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.ap-daily-order-list-nodata p {
    padding-top: 20px;
}

.ap-daily-order-update {
    padding: 24px 30px 0;
    display: block;
}

.ap-daily-order-update table tr td {
    border-left: 0 !important;
}

.ap-daily-order-update .form-group {
    margin-bottom: 0;
}

.ap-daily-order-update .price-info {
    margin-left: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.btn-cancel {
    border: 1px solid #dcdfe6;
    width: 75px;
    line-height: 36px;
    border-radius: 4px;
    color: #909399;
    text-align: center;
    cursor: pointer;
    background-color: #FFFFFF;
}

.layer-dialog-action {
    text-align: right;
    padding: 20px 30px 0 30px;
}

.layer-dialog-action .btn-save {
    width: 78px;
    line-height: 37px;
    height: 38px;
    margin-left: 15px;
}

.ap-daily-trading-closed {
    padding: 24px 30px 0;
}

.ap-daily-trading-closed .warning {
    background-color: #e8f3ff;
    border: 1px solid #77b4f4;
    color: #606266;
    width: 450px;
    line-height: 42px;
    padding: 0 12px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.ap-daily-trading-closed .warning .iconfont {
    color: #3395fa;
    margin-right: 10px;
}

.ap-daily-trading-closed .form-group {
    width: 300px;
}

.ap-daily-trading-closed .form-group .name {
    color: #606266;
    margin-bottom: 15px;
}

.ap-daily-trading-closed .layer-dialog-action {
    padding: 15px 0;
}

.ap-daily-trading-info {
    color: #909399;
    line-height: 22px;
}

.ap-daily-trading-info h3 {
    color: #f63f52;
    margin: 5x 0 10px;
    font-weight: normal;
}

.daily-goodsclassify-form .select-time span {
    color: #909399;
    line-height: 34px;
    min-height: 34px;
}

.daily-goodsclassify-form .form-group:first-child .form-control {
    color: #c0c4cc;
    width: 192px;
    margin: 0;
}

.daily-goodsclassify-form .daily-classifyboxselected i {
    position: absolute;
    bottom: -2px;
    right: -2px;
    background: url("../images/cnselected.png") no-repeat;
    width: 20px;
    height: 20px;
}

.daily-goodsclassify-form .daily-classifyboxselected {
    border: 2px solid #19a677 !important;
}

.dialy-goodslist {
    max-width: 920px;
}

.daily-goodsserve .form-group .control-label {
    /* text-align: left !important; */
    width: 84px;
}

.daily-box img {
    width: 90px;
    height: 90px;
    float: left;
}

.daily-goodsclassify-form .radio label {
    padding-left: 0px;
    display: flex;
}

.daily-box {
    float: left;
    display: flex;
}

.dialy-box-text {
    float: left;
    margin-left: 15px;
    display: inline-block;
}

.dialy-box-text p {
    line-height: 24px;
    font-size: 14px;
}

.dialy-box-text span {
    font-size: 16px;
    color: #f63f52;
    line-height: 24px;
}

.daily-goodsclassify-form .select-time span {
    color: #a8abb2;
    line-height: 34px;
    min-height: 34px;
}

.daily-goodsclassify-form .form-group:first-child .form-control {
    color: #c0c4cc;
    width: 192px;
    margin: 0;
}

.daily-goodsclassify-form .radio {
    width: 408px;
    height: 122px !important;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    float: left;
    margin: 10px 24px 14px 0;
}

.daily-goodsclassify-form .radio input {
    position: absolute;
    bottom: 0;
    right: 0;
}

.daily-box img {
    width: 90px;
    height: 90px;
    float: left;
}

.daily-goodsclassify-form .radio label {
    padding-left: 0px;
    display: flex;
}

.daily-box {
    float: left;
    display: flex;
}

.dialy-box-text {
    float: left;
    margin-left: 15px;
    display: inline-block;
}

.dialy-box-text p {
    line-height: 24px;
    font-size: 14px;
    color: #606266;
}

.daily-wdyl {
    border: 1px solid #ff8f1e;
    color: #ff8f1e;
    background: #fff;
    margin-left: 20px;
}

.daily-wdyl:hover {
    background: #f1ebeb;
}

.dialy-kc {
    border-left: 3px solid #19a677;
    font-size: 14px;
    line-height: 32px;
    padding-left: 15px;
    font-weight: 700;
    /* margin-top: 25px; */
    display: inline-block;
}

.daily-add {
    border: 1px solid #ebeef5;
    width: 108px;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
}

.daily-add a {
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
}

.daily-add:hover {
    background: #efefef;
}

.daily-add i {
    color: #27ac89;
}

.dialy-kccontainer .form-group {
    margin-bottom: 20px;
}

.daily-ggkc {
    margin-left: 15px;
}

.daily-ggsx {
    width: 1055px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
}

.daily-ggsx a {
    line-height: 70px;
    padding: 0px 0px 0px 20px;
    display: inline-block;
}

.daily-delete {
    line-height: 60px;
    padding: 0px 0px 0px 20px;
    background: #fafafa;
}

.daily-ggsx select {
    height: 34px;
    width: 240px !important;
    margin-left: 20px;
    color: #c0c4cc;
    display: inline-block;
}

.daily-gzadd {
    line-height: 60px;
    padding: 5px 0 5px 20px;
    overflow: hidden;
    float: left;
}

.daily-delete span {
    color: #f63f52;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.daily-gzadd select {
    width: 185px !important;
    height: 34px;
    margin-left: 20px;
    color: #c0c4cc;
    display: inline-block;
}

.daily-ggsx a i {
    color: #27ac89;
}

.daily-plsz, .daily-blsztext {
    float: left;
}

.daily-blsztext {
    color: #606266 !important;
}

.daily-plsz select {
    display: inline-block;
}

.daily-ggkc .col-sm-10 {
    min-width: 1110px !important;;
}

.daily-plsz input {
    display: inline-block;
}

.daily-plsz a {
    border: 1px solid #27ac89;
    padding: 7px 10px;
    color: #27ac89;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    margin-left: 20px;
}

.daily-plsz select {
    display: none;
}

.daily-ggkc .select-time table {
    border: 1px solid #ebeef5;
    border-radius: 4px;
}

.daily-ggkc .select-time table tr {
    height: 40px;
}

.daily-ggkc .select-time table th:first-child {
    width: 192px;
}

.daily-ggkc .select-time table th {
    color: #909399;
    width: 216px;
    background: #f1f4f8;
    border: 1px solid #e4e7ed;
    padding-left: 25px;
    box-sizing: border-box;
}

.daily-ggkc .select-time table td:first-child {
    width: 192px;
}

.daily-ggkc .select-time table tr td {
    width: 216px;
    border: 1px solid #e4e7ed;
    padding-left: 25px;
    box-sizing: border-box;
}

.daily-ggkc .dialy-table input {
    border: 0;
    height: 28px;
    outline: none;
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
}

.dialy-bc, .dialy-bc button {
    background: #19a677 !important;
    color: #fff;
    border: 0;
    width: 62px;
    text-align: center;
    height: 32px;
    border-radius: 4px;
}

.dialy-table {
    margin: 20px 0;
}

.dialy-spscj input {
    width: 192px !important;
    margin: 0 !important;
    display: inline-block;
}

.layer-banner-style .masklayer-form, .layer-logo-style .masklayer-form, .layer-xztp-style .masklayer-form {
    background: #fff;
    width: 572px;
    border-radius: 8px;
    padding: 25px;
    overflow: hidden;
    box-sizing: content-box;
}

.platform-ones {
    padding-left: 25px;
}

.platform-ones::before {
    width: 8px;
    height: 8px;
    display: inline-block;
    content: '';
    border-radius: 4px;
    background: #ff9000;
}

.platform-ones span {
    padding-left: 19px;
}

.pt ul li {
    margin-right: 26px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    float: left;
    width: 125px;
    height: 123px;
}

.layer-banner-style .ptbanner ul li {
    margin-right: 0;
}

.layer-xztp-style .pt ul li:nth-child(4n), .layer-logo-style .pt ul li:nth-child(4n), .layer-banner-style .pt ul li:nth-child(4n) {
    margin-right: 0px;
}

.layer-banner-style .ptbanner ul li {
    width: 578px;
}

.pt ul i {
    display: none;
}

.pt img {
    width: 123px;
    height: 123px;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(235, 238, 245);
}

.layer-banner-style .ptbanner img {
    border: 1px solid #ebeef5;
}

.layer-banner-style .ptbanner img {
    box-sizing: border-box;
    width: 576px;
    height: 110px;
    margin-bottom: 10px;
}

.pt ul .daily-selected i {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    text-indent: -99em;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background: url("../images/ap-daily-selected.png");
}

.daily-xzpiclist .pt ul .daily-selected i {
    position: absolute;
    right: 1px;
    top: 105px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background: url("../images/cnselected.png");
}

.ptbanner ul .daily-selected i {
    position: absolute;
    top: 8px;
    right: 8px;
}

.pt span:first-child {
    color: #909399;
    margin-left: 10px;
}

.pt h3 {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0;
}

.pt .pt-syl {
    color: #19a677 !important;
    margin-left: 0px !important;
}

.pt ul li.daily-selected img {
    border: 1px solid #19a677 !important;
    /* width: 125px; */
}

.ptbanner ul li.daily-selected img {
    border: 4px solid #19a677 !important;
    border-radius: 4px;
    width: 100%;
}

.ptbanner ul li.daily-selected img {
    border: 0;
}

.layer-logo-style .layui-layer-btn, .layer-banner-style .layui-layer-btn, .layer-xztp-style .layui-layer-btn {
    margin-right: 24px;
    padding: 15px 0px 15px 0px !important;
}

.masklayerbanner-form {
    height: 690px;
}

.dialy-spscj span {
    display: inline-block;
    margin-left: 15px;
    color: #606266 !important;
}
.layer-modifyaddress-style .layui-layer-title,
.layer-logo-style .layui-layer-title,
.layer-banner-style .layui-layer-title,
.layer-xztp-style .layui-layer-title {
    width: 628px;
    height: 50px !important;
    background: #fff !important;
    font-size: 20px !important;
    border-bottom: 2px solid #dcdfe6 !important;
}
.layer-modifyaddress-style .layui-layer-btn a,
.layer-banner-style .layui-layer-btn a,
.layer-logo-style .layui-layer-btn a,
.layer-xztp-style .layui-layer-btn a {
    padding: 0px 23px !important;
    height: 36px !important;
    line-height: 36px !important;
}
.layer-modifyaddress-style .layui-layer-btn0,
.layer-banner-style .layui-layer-btn0,
.layer-logo-style .layui-layer-btn0,
.layer-xztp-style .layui-layer-btn0 {
    margin-right: 20px !important;
    border: 1px solid #dcdfe6 !important;
    background: #fff !important;
    color: #909399!important;
    border-radius: 4px;
}
.layer-modifyaddress-style .layui-layer-btn1,
.layer-banner-style .layui-layer-btn1,
.layer-logo-style .layui-layer-btn1,
.layer-xztp-style .layui-layer-btn1 {
    border: 0;
    background: #ff8f1e !important;
    border-radius: 4px;
    color: #fff;
}
.layer-modifyaddress-style .layui-layer-iframe .layui-layer-btn,
.layer-banner-style .layui-layer-iframe .layui-layer-btn,
.layer-banner-style .layui-layer-page .layui-layer-btn,
.layer-logo-style .layui-layer-iframe .layui-layer-btn,
.layer-logo-style .layui-layer-page .layui-layer-btn {
    padding-top: 20px !important;
}

.daily-relase label {
    position: relative;
}

.daily-relase input {
    margin: 0 !important;
    color: #000;
    height: 40px;
    width: 624px !important;
    padding-right: 50px;
    box-sizing: border-box;
}

.daily-relase div {
    color: #000;
    position: absolute;
    right: 15px;
    top: 4px;
}

.daily-relase laber span {
    color: #000;
}

.daily-relasesyzs {
    color: #c0c4cc !important;
}

.daily-relase input {
}

.daily-logoadd {
    margin-left: 135px;
    margin-top: 20px;
}

.daily-logoadd a {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 86px;
    height: 86px;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.daily-logoadd1 a {
    width: 86px;
    height: 86px;
    display: inline-block;
}

.daily-logoadd i {
    display: block;
    position: absolute;
    top: 16px;
    margin-left: 19px;
    color: #19a678;
}

.daily-logoadd span {
    position: absolute;
    bottom: 25px;
    left: 32px;
    display: inline-block;
    color: #19a678;
    font-weight: 300;
}

.daily-logoadd i {
    position: absolute;
    top: 18px;
    left: 19px;
    color: #19a678;
}

.daily-logomodify img {
    width: 86px;
    height: 86px;
    border-radius: 4px;
    background: #000;
    opacity: 0.6;
}

.daily-logomodify a {
    background: #000;
    opacity: 0.8;
}

.daily-logomodify a div:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.daily-logomodify i, .daily-logomodify span {
    color: #fff;
}

#filePicker {
    width: 950px;
    height: 126px;
    border: 1px solid #CCC;
    margin-top: 20px;
    border-radius: 4px;
}

.webuploader-pick {
    display: flex;
    align-items: center;
    justify-content: center;
}

.webuploader-pick i {
    color: #19a678;
    font-size: 16px;
}

.webuploader-pick span {
    color: #19a678;
    margin-left: 15px;
    font-size: 16px;
}

.webuploader-pick {
    margin-top: 55px;
}

.logoadd1, .banneradd1 {
    display: none;
}

.daily-yfmb .col-sm-10 .form-control {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    color: #c0c4cc;
}

.daily-cn {
    float: left;
    margin-right: 20px;
    border: 1px solid #e4e7ed;
    width: 160px;
    height: 48px;
    padding: 12px 15px;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    text-align: center;
}

.daily-cnselected i {
    background: url("../images/cnselected.png") no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.daily-cn img {
    margin-right: 4px;
}

.daily-cn span {
    color: #606266;
}

.daily-cn.daily-cnselected {
    border: 1px solid #19a677 !important;
    border-radius: 4px;
}

.daily-goodsfb a {
    width: 108px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    display: inline-block;
    margin-right: 25px;
    border-radius: 4px;
}

.daily-goodsfb a:first-child {
    background: #ff8f1e;
    color: #fff;
}

.daily-goodsfb a:first-child + a {
    background: #fff;
    color: #ff8f1e;
    border: 1px solid #ff8f1e;
}

.daily-goodsfb a:last-child {
    background: #fff;
    border: 1px solid #606266;
}

.daily-ggkc .col-sm-10 .daily-qcjx {
    margin: 0;
}

.daily-ggkc .col-sm-10 .daily-piclist li {
    width: 192px;
    height: 192px;
    margin-right: 20px;
    float: left;
}

.daily-ggkc .daily-piclist {
    overflow: inherit;
}

.daily-ggkc .daily-piclist ul li {
    position: relative;
}

.daily-ggkc .daily-piclist ul li:last-child i {
    position: absolute;
    top: -10px;
    right: -4px;
    background: url("../images/daily-closed.png") no-repeat;
    width: 20px;
    height: 20px;
}

.daily-goodsclassify-form .form-group .control-label {
    text-align: right;
    width: 84px;
}

.daily-goodsfb {
    margin-top: 32px;
    margin-left: 84px;
}

.daily-fwcnyf .col-sm-10 select {
    width: 300px;
    height: 35px;
    margin: 0 0 20px 0;
}

.daily-areabybox {
    width: 1056px;
    display: flex;
    overflow: hidden;
    border: 1px solid #ebeef5;
}

.daily-areabyboxleft, .daily-areabyboxright, .daily-area {
    float: left;
}

.daily-editor {
    float: right;
    color: #3395fa;
}

.daily-areabyboxleft {
    width: 132px;
    background: #fafafa;
    justify-content: center;
    height: auto;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: #606266;
    border-right: 1px solid #ebeef5;
}

.daily-areabyboxright {
    width: 924px;
    padding: 10px;
    height: 100%;
}

.daily-area {
    width: 846px;
    line-height: 24px;
}

.daily-editor a {
    color: #3395fa;
}

.ap-daily-checkbilling-form .daily-areaby {
    width: 1000px;
}

.areazm {
    display: inline-block;
    width: 66px;
}

.daily-area .form-group label {
    width: 68px;
}

.daily-area .form-group label span {
    margin-left: 10px;
    color: #606266;
}

.daily-area .form-group label input {
    vertical-align: middle;
    margin: 0;
}

.daily-area .form-control {
    display: inline-block;
    margin: 0;
    width: 128px;
}

.daily-areabyboxright input[type=text] {
    width: 126px;
    margin: 0;
}

.daily-areatext {
    margin: 0 10px;
}

.daily-areabbybox .daily-area {
    padding: 10px;
}

.daily-areabbybox .daily-areabyboxright {
    background: #fafafa;
}

.daily-areabbybox .daily-bbyarea {
    width: 194px !important;
    /* height: 38px; */
}

.daily-jianu {
    width: 130px !important;
}

.daily-mztj {
    margin: 10px 0;
}

.daily-goodsserve .col-sm-10 {
    width: 1020px;
}

.daily-areabyboxright1 .daily-area-padding {
    box-sizing: border-box;
}

.daily-goodsserve .select-time {
    display: inherit;
}

.daily-zdtj input[type=radio], .daily-zdtj input[type=radio]:focus {
    background: url(../images/icon.png) 0 0 no-repeat;
}

.daily-zdtj input[type=radio]:checked {
    background-position: -45px 0px;
}

.daily-adddelete a {
    color: #f63f52 !important;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}

.ap-daily-servercn tr {
    padding: 12px;
    border: 1px solid #fafafa;
}

.ap-daily-servercn tr th:first-child {
    background: #fafafa;
}

.ap-daily-servercn tr td:first-child {
    background: #fafafa;
    padding: 12px;
}

.ap-daily-servercn tr {
    border: 1px solid #fafafa;
}

.daily-area-container {
    background: #fff;
    width: 921px;
    display: flex;
    flex-wrap: wrap;
}

.daily-areabyboxright1 {
    margin: 10px;
    overflow: hidden;
    background: #fafafa;
    border: 1px solid #ebeef5;
}

.daily-gzadd .selected {
    color: #606266;
}

.daily-gzaddbox {
    position: relative;
    float: left;
}

.daily-gzaddbox i {
    position: absolute;
    top: 5px;
    right: 0px;
    background: url(../images/daily-tjggclose.png) no-repeat;
    width: 20px;
    height: 20px;
    display: none;
}

.daily-gzadd i {
    color: #27ac89;
}

.daily-gzaddbox:hover i {
    display: block;
}

.daily-mztj input {
    height: 35px;
}

.sjyl {
    display: none;
    position: relative;
    background: url("../images/daily-mobmodel.png") no-repeat;
    height: 746px;
    width: 367px;
}

.sjyl div {
    position: absolute;
    top: 94px;
    left: 27px;
    width: 325px;
    height: 568px;
    overflow: auto;
}

.daily-goodsclassify-form .layui-layer {
    background: none;
    outline: none;
    box-shadow: none;
    /*margin-top: 90px;*/
}

.daily-xzpiclist {
    display: none;
}

.daily-goodsrelease-form .layui-layer {
    background: #fff;
}

.daily-classifypic {
    border: 1px solid rgb(220, 223, 230);
    padding: 5px;
    width: 300px;
    height: 170px;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    padding: 44px 0;
}

.daily-classifypic:hover {
    background: #efefef;
}

.daily-classifypic i {
    display: block;
    color: #16948d;
    margin: 15px 0;
}

.daily-classifypic span {
    display: block;
    color: #16948d;
    font-size: 16px;
}

.ap-daily-from input::placeholder, .ap-daily-from textarea::placeholder, .ap-daily-from textarea::-webkit-input-placeholder {
    color: #606266;
}

.daily-goodsrelease-form input::placeholder, .daily-wxz, .daily-ggkc input::placeholder, .daily-ggkc textarea::placeholder, .ap-daily-label input::placeholder {
    color: #c0c4cc;
    font-weight: 300;
}

.ap-daily-labelarea textarea::placeholder, .ap-daily-labelarea textarea::-webkit-input-placeholder {
    color: #c0c4cc;
    font-weight: 300;
}

.daily-add span, .daily-xzpic span, .daily-goodsclassify-form .select-time .daily-areatext {
    color: #606266;
}

.daily-goodsclassify-form .select-time .daily-relasessyl {
    color: #000;
}

.daily-goodsclassify-form .select-time .daily-releaseyxz, .daily-goodsclassify-form .select-time .areazm {
    color: #909399;
}

.daily-goodsclassify-form .select-time .daily-releasexz {
    color: #303133;
    margin-right: 20px;
}

#daily-zdtj1, #daily-zdtj2 {
    vertical-align: middle;
    margin: 0;
}

.daily-szadd {
    width: 170px !important;
    height: 40px !important;
    margin-left: 10px;
    line-height: 40px;
}

.daily-szadd a {
    padding: 0;
}

.daily-szadd span {
    color: #27ac89 !important;
}

.daily-szadd {
    border: 1px solid #27ac89;
}

.pt {
    overflow: hidden;
    width: 578px;
}

.daily-goodsrelease-form .col-sm-10 {
    min-width: 945px;
}

.daily-cn a {
    text-decoration: none;
}

daily-ggsx select[selected] {
    color: #000;
}

.dialy-table {
    display: inline-block !important;
    align-items: center;
}

.dialy-table table table td {
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;
    line-height: 40px;
}

.table {
    width: 866px !important;
    padding-left: 0 !important;
}

.daily-jins {
    border-right: none !important;
    width: 216px !important;
}

.dialy-table table {
    border: none;
}

.dialy-table table:first-child th {
    color: #909399;
    width: 216px;
    background: #f1f4f8;
    border: 1px solid #e4e7ed;
    padding-left: 25px;
    border-bottom: none;
}

.dialy-table table:first-child th {
    color: #909399;
    width: 216px;
    background: #f1f4f8;
    border: 1px solid #e4e7ed;
    padding-left: 25px;
    border-bottom: none;
    height: 40px;
}

.table table td {
    width: 216px !important;
}

.dialy-table table:last-child table {
    border: 1px solid #e4e7ed;
}

.dialy-table table:last-child table tr td {
    border: 1px solid #e4e7ed;
    line-height: 40px;
}

.daily-jins {
    border: 1px solid #e4e7ed;
}

.sjyl div span {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 16px;
}

.sjyl div .daily-bottom {
    position: fixed;
    top: 707px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 319px;
}

section .layui-layer layui-layer-page .layui-layer-title {
    border: 1px solid #dcdfe6;
}

.daily-goodsclassify-form .layui-layer-page {
    top: 90px !important;
}

.daily-bypsdq .daily-xzdt {
    display: none;
}

.daily-editorbc {
    display: none;
}

.daily-yxz-city {
    display: none;
}

.daily-gzadd div {
    float: left;
}

/*order-detail*/
.ap-daily-theme .daily-orderdetman {
    margin: 0;
}

.ap-daily-theme .daily-orderdetman a {
    color: #909399;
}

.ap-daily-checkbilling-form .daily-orderdetcont {
    width: 1058px;
}

.daily-orderdet-place {
    overflow: hidden;
    padding-bottom: 24px;
    border-bottom: 1px solid #dcdfe6;
}

.daily-orderdet-place .daily-orderdet-placebox {
    float: left;
}

.daily-orderdet-num {
    color: #606266;
    border: 1px solid #909399;
    border-radius: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 19px;
}

.daily-orderdet-placebox a {
    margin: 0 30px 0 10px;
    color: #909399;
    cursor: text;
    text-decoration: none;
}

.daily-orderdet-arrow {
    margin-right: 30px;
    color: #909399;
}

.detactive .daily-orderdet-num {
    background: #ff9224;
    color: #fff;
    border: 0;
}

.detactive a {
    color: #ff8f1e;
}

.daily-orderdet-current, .daily-orderdet-mjfh {
    padding: 25px 0 25px 40px;
    background: #fffaee;
    margin: 20px 0;
    border: 1px solid #fbd36c;
}

.daily-orderdet-current p:first-child {
    color: #303133;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 18px;
}

.daily-orderdet-current p:last-child {
    color: #606266;
    margin-bottom: 0px;
}

.daily-orderdet-current p:last-child span {
    color: #606266;
    font-size: 14px;
}

.daily-orderdet-current p:last-child .daily-orderdet-goods {
    color: #c0c4cc;
}

/*tabs starts*/
.daily-orderdet-info .tab-content {
    border: 1px solid #dcdfe6;
}

.daily-orderdet-info .nav-tabs .active {
    border-bottom: 1px solid #fff;
}

.daily-orderdet-info .nav-tabs {
    border: 0;
}

.daily-orderdet-info .nav-tabs > li {
    min-width: 116px;
    text-align: center;
}

.daily-orderdet-info .nav-tabs > li.active > a {
    border-bottom: 0;
    border-right: 1px solid #dcdfe6;
    border-top: 1px solid #dcdfe6;
    border-left: 1px solid #dcdfe6;
}

.daily-orderdet-info .nav-tabs li a {
    border-right: 1px solid #dcdfe6;
    border-top: 1px solid #dcdfe6;
    border-left: 1px solid #dcdfe6;
    margin-right: 0;
}

.daily-orderdet-info .nav-tabs li:nth-child(2) a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.daily-orderdet-info .nav-tabs li:nth-child(3) a {
    border-top-left-radius: 0;
}

.daily-orderdet-info .nav-tabs li:nth-child(1) a {
    border-top-right-radius: 0;
}

.daily-orderdet-info .nav-tabs > li.active > a {
    border-right: 0;
    border-left: 0;
}

.daily-orderdet-info .nav-tabs > li:nth-child(1).active > a {
    border-right: 1px solid 0;
    border-left: 1px solid #dcdfe6;
}

.daily-orderdet-info .nav-tabs > li:nth-child(3).active > a {
    border-right: 1px solid #dcdfe6;
}

.daily-orderdet-info .nav-tabs > li:nth-child(3).active > a {
    border-right: 1px solid #dcdfe6;
}

/*tabs end*/
.daily-orderdet-info .tab-content .tab-pane {
    padding: 24px;
}

.daily-orderdet-info .nav-tabs .active a {
    color: #19a677 !important;
}

.daily-orderdet-info .nav-tabs > li.active > a:hover {
    color: #19a677 !important;
}

.daily-orderdet-info .tab-content .daily-orderdet-tabpane1 h3 {
    color: #303133;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0;
    font-size: 14px;
}

.daily-orderdet-info .tab-content .daily-orderdet-tabpane1 h3 span {
    color: #909399;
    font-size: 14px;
}

.daily-orderdet-mjinfo .daily-orderdet-area {
    float: left;
}

.daily-orderdet-mjinfo {
    border-top: 1px solid #ebeef5;
    padding: 20px 0 0px 0;
}

.daily-orderdet-ddinfo {
    border-top: 1px solid #ebeef5;
}

.daily-orderdet-area span {
    color: #909399;
}

.daily-orderdet-area .daily-orderdet-lxinfo {
    color: #606266;
    font-size: 14px;
}

.daily-orderdet-area1 {
    width: 390px;
}

.daily-orderdet-area2 {
    width: 398px;
}

.daily-orderdet-mjinfo div {
    overflow: hidden;
    /* margin-bottom: 10px; */
}

.daily-orderdet-ddinfo table {
    margin-top: 20px;
}

.daily-orderdet-ddinfo table th {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #eef6ff;
}

.daily-orderdet-ddinfo table th:first-child {
    padding-left: 20px;
    text-align: left;
}

.daily-orderdet-ddinfo table tr td {
    padding: 12px;
}

.daily-orderdet-table img {
    float: left;
    margin-right: 15px;
}

.daily-orderdet-table div {
    float: left;
    display: inline-block;
    width: 174px;
}

.daily-orderdet-ddinfo table {
    border: 1px solid #e4e7ed;
}

.daily-orderdet-ssnum p {
    text-align: right;
    margin-top: 18px;
    margin-bottom: 0;
}

.daily-orderdet-ssnum p span {
    color: #f63f52;
    font-weight: 700;
    font-size: 16px;
}

.daily-orderdet-sx, .daily-orderdet-zt, .daily-orderdet-fw, .daily-orderdet-dj, .daily-orderdet-bbnum, .daily-orderdet-sale, .daily-orderdet-total {
    border-left: 1px solid #e4e7ed;
    text-align: center;
}

.daily-orderdet-sx p:last-child {
    margin: 0;
}

.daily-orderdet-sx {
    text-align: left;
}

.daily-orderdet-table div p, .daily-orderdet-sx p:first-child {
    margin-bottom: 3px;
}

.daily-orderdet-table div span, .daily-orderdet-total span {
    color: #909399;
    font-size: 12px;
}

.daily-orderdet-ddtkxx table th:first-child {
    text-align: center;
}

.daily-orderdet-ddtkxx table tbody td:first-child {
    text-align: center;
}

.daily-orderdet-ddtkxx .daily-orderdet-sale a {
    color: #3395fa;
}

.daily-orderdet-ddtkxx, .daily-orderdet-ddwlinfo, .daily-orderdet-ddtkxx table {
    margin-top: 0px;
    padding: 0;
}

.daily-orderdet-ddwlinfo {
    border: 0;
}

.daily-orderdet-total p {
    margin: 0px;
}

.daily-orderdet-ddwlinfo span {
    color: #909399;
    display: inline-block;
    margin-right: 10px;
    width: 84px;
}

/*.daily-orderdet-info .nav-tabs li:first-child.active + li a {*/
/*    border-right: 0!important;*/
/*}*/

.daily-orderdet-info .nav-tabs > li.active > a:hover {
    color: #19a677 !important;
}

.daily-orderdet-ddinfo table .daily-orderdet-table {
    margin-bottom: 0px;
}

.daily-orderdet-mjinfo1 {
    margin-bottom: 10px;
}

.ap-daily-navleft p {
    margin: 0;
    height: 60px;
}

/*
buyerpayment start
*/
.daily-orderdet-mjfh p {
    font-size: 16px;
    color: #303133;
    font-weight: 700;
    margin-bottom: 18px;
}

.daily-orderdet-mjfh ul li {
    line-height: 30px;
}

.daily-orderdet-mjfh ul li a {
    line-height: 30px;
    color: #c0c4cc;
    display: inline-block;
    margin-left: 5px;
}

.daily-orderdet-mjfh div a, .daily-orderdet-deliver div a {
    display: inline-block;
    width: 88px;
    height: 32px;
    text-align: center;
    color: #303133;
    line-height: 32px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid rgb(228, 231, 237);
}

.daily-orderdet-deliver div button {
    border: 0;
    width: 62px;
    border-radius: 4px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    background: #ff8f1e;
    margin-right: 10px;
}

.daily-orderdet-deliver div {
    margin-top: 35px;
}

.daily-orderdet-deliver div a {
    width: 118px;
    text-decoration: none;
}

.daily-orderdet-deliver div button:hover {

    background: #ef8922;
}

.daily-orderdet-mjfh div a:hover, .daily-orderdet-deliver div a:hover {
    background: #eaebec;
}

.daily-orderdet-deliver .daily-orderdet-sqtkdeliver .daily-orderdet-goods {
    color: #c0c4cc;
    font-size: 14px;
}


/*
A refund service management start
*/
.daily-servicemage {
    width: 1055px;
    margin-bottom: 80px;
}

.daily-servicemage-agree, .daily-servicemage-detial {
    padding: 20px;
    margin-top: 20px;
}

.daily-servicemage-agree {
    width: 728px;
    float: left;
    border: 1px solid #e4e7ed;
}

.daily-servicemage-detial {
    border: 1px solid #e4e7ed;
    width: 326px;
    float: left;
    border-left: 0;
}

.daily-servicemage-tksq {
    border-bottom: 1px solid #e4e7ed;
}

.daily-servicemage-agree h3 {
    font-size: 18px;
    color: #606266;
    font-weight: 700;
    margin: 0;
    line-height: 20px;
    margin-top: 10px;;
}

.daily-servicemage-agree .icontime, .daily-servicemage-agree h3 span {
    font-size: 14px;
    color: #3395fa;
    margin-left: 16px;
    margin-right: 8px;
}

.daily-servicemage-agree p {
    color: #909399;
    line-height: 24px;
    margin: 0;
}

.daily-servicemage-agree {

}

.daily-servicemage-agree .daily-servicemage-tksq div p:first-child {
    margin-top: 17px;
}

.daily-servicemage-agree .daily-servicemage-tksq button {
    margin: 30px 0;
    width: 205px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background: #ff8f1e;
}

.daily-servicemage-agree button:hover {
    background: #ef8922;
}

.daily-servicemage-xshistory {
    margin-top: 22px;
}

.daily-servicemage-xshistory p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.daily-servicemage-xshistorylist img {
    margin-right: 16px;
}

.daily-servicemage-xshistorylist img, .daily-servicemage-xshistorylist div {
    float: left;
}

.daily-servicemage-xshistorylist p {
    margin: 0px;
    width: 628px;
}

.daily-servicemage-xshistorylist .daily-servicemage-xshistorylc {
    color: #909399;
    font-size: 16px;
    line-height: 20px;
}

.daily-servicemage-xshistorylist p:last-child {
    color: #606266;
    font-size: 14px;
    line-height: 24px;
}

.daily-servicemage-xshistorylist .daily-servicemage-xshistorytm {
    color: #c0c4cc;
    font-size: 12px;
    float: right;
}

.daily-servicemage-xshistorylist p {
    line-height: 20px;
}

.daily-servicemage-xshistory > p {
    color: #606266;
}

.daily-servicemage-xshistorylist {
    margin-bottom: 20px;
    overflow: hidden;
}

.daily-servicemage-detial h3 {
    font-size: 16px;
    color: #606266;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.daily-servicemage-detialimg, .daily-servicemage-detialtext {
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #e4e7ed;
}

.daily-servicemage-detialimg img {
    width: 66px;
    height: 66px;
    margin-right: 15px;
}

.daily-servicemage-detialimg img, .daily-servicemage-detialimg div {
    float: left;
}

.daily-servicemage-detialimg div {
    width: 204px;
}

.daily-servicemage-detialimg div p:first-child {
    line-height: 20px;
    margin: 0;
}

.daily-servicemage-detialimg div p:last-child {
    color: #909399;
}

.daily-servicemage-detialtext span {
    color: #909399;
    width: 84px;
    display: inline-block;
}

.daily-servicemage-box {
    overflow: hidden;
    display: flex;
}

/*
logisticsinfo start
*/
.daily-logisticsinfo {
    overflow: hidden;
    display: flex;
}

.daily-logisticsdet {
    width: 300px;
    margin-right: 26px;
    border: 1px solid #e4e7ed;
    padding: 24px;
    float: left;

}

.daily-logisticsdynamic {
    width: 732px;
    border: 1px solid #e4e7ed;
    padding: 24px;
    float: left;
}

.daily-logisticsbh .daily-shengs {
    color: #606266 !important;
}

.daily-logisticsbh p {
    color: #909399;
    line-height: 24px;
    margin: 0;
}

.daily-logisticsbh div {
    margin-bottom: 14px;
}

.daily-logisticsdet .daily-logisticsbh:first-child {
    margin-bottom: 30px;
}

.daily-logisticsdet .daily-logisticsbh:last-child {
    border-top: 1px solid #e4e7ed;
    padding-top: 20px;
}

/*timeline*/
.daily-logisticsdynamic .layui-timeline-item:before {
    background: #ebeef5;
    width: 1px;
}

.daily-logisticsdynamic .layui-timeline-item {
    padding-bottom: 26px;
}

.daily-logisticsdynamic .layui-timeline-axis {
    position: absolute;
    left: -2px;
    top: 5px;
    z-index: 10;
    width: 14px;
    height: 14px;
    line-height: 20px;
    background-color: #dadada;
    border-radius: 50%;
}

.layui-timeline-axis:hover {
    background-color: #ff8f1e;
}

.daily-logisticsdynamic .layui-timeline-title {
    float: left;
}

.daily-logisticsdynamic .layui-timeline-item:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;
}

.daily-logisticsdynamic .layui-timeline-content .layui-timeline-title {
    color: #909399;
    display: inline-block;
    width: 194px;
    margin-left: 35px;
}

.daily-logisticsdynamic h3 {
    font-size: 16px;
    color: #606266;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: 700;
}

.daily-logisticsdynamic table {
    border: 1px solid #e4e7ed;
    margin-bottom: 20px;
}

.daily-logisticsdynamic table th {
    background: #eef6ff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.daily-logisticsdynamic table td {
    text-align: center;
    padding: 12px;
}


.daily-logisticsdynamic table th:first-child {
    padding-left: 20px;
    text-align: left;

}

.daily-logistics-table div {
    text-align: left;
}

.daily-logisticsdynamic table .daily-logistics-table {
    margin-bottom: 0;
}

.daily-logisticsdynamic table .daily-logistics-table div {
    float: left;
    display: inline-block;
    width: 270px;

}

.daily-logisticsdynamic .daily-logistics-table img {
    float: left;
    margin-right: 15px;
}


.daily-logisticssth p span {
    font-size: 14px;
    color: #19a678;
    font-weight: 700;

}

.daily-logisticssth p {
    margin-bottom: 18px;
}

.daily-logistics-tableprice, .daily-logistics-tablenum {
    border-left: 1px solid #e4e7ed;
}

.wlactive {
    color: #303133;
    font-weight: 700;
}

/*
deliver adjust start
*/
.ap-daily-deliveradjust {
    padding: 24px 0;
    color: #606266;
}

.daily-deliveradjust-tit {
    line-height: 18px;
    padding-left: 24px;
    border-left: 4px solid #19a677;
    margin: 0;
    margin-bottom: 8px;
}

.daily-deliveradjust-one table, .daily-deliveradjust-two table {
    width: 1055px;
    margin: 24px;
    border: 1px solid #e4e7ed;
}

.ap-daily-deliveradjust > div table th {
    background: #eef6ff;
}

.daily-deliveradjust-one table th {
    width: 528px;
    padding: 10px 20px;
    border: 1px solid #e4e7ed;
}

.daily-deliveradjust-one table td {
    padding: 12px 20px;
    width: 528px;
    /* border: 1px solid #e4e7ed; */
}
.daily-deliveradjust-two th{
    padding: 10px 20px;
    text-align: left;
}
.daily-deliveradjust-two th:last-child{
    text-align:center;
}
.daily-deliveradjust-two td:last-child{
    text-align:center;
}
.daily-deliveradjust-two table{
    border: 1px solid #e4e7ed;
}
.daily-deliveradjust-spname p {
    line-height: 22px;
}
.daily-deliveradjust-two table td {
    padding: 12px 24px;
}
.daily-deliveradjust-size {
    font-size: 12px;
    line-height: 16px;
    color: #909399;
}

.daily-deliveradjust-modifyadd a {
    color: #3395fa;
    float: right;
    line-height: 18px;
}
.daily-deliveradjust-leavemes p span:first-child{
    display: inline-block;
    width: 84px;
    text-align: left;
    flex-shrink: 0;
    color: #909399;
}

.daily-deliveradjust-leavemes textarea{
    width: 398px;
    height: 80px;
    resize: none;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    display: inline-block;
}
.daily-deliveradjust-leavemes p:last-child  span{
    vertical-align: top;
    position: relative;
    top: 10px;
}
.daily-deliveradjust-two p{
    line-height: 24px;
    margin: 0;
}
.daily-deliveradjust-one table tr:first-child td{
    border-right: 1px solid #e4e7ed;
}
.daily-deliveradjust-one table tr:last-child{
    border-top: 1px solid #e4e7ed;
}
.daily-deliveradjust-two table tr:nth-child(2n){
    border-top: 1px solid #e4e7ed;
}
.daily-deliveradjust-two table tr th:first-child{
    text-align: left;
    padding-left: 40px;
}
.daily-deliveradjust-two table tr th:nth-child(2){
    text-align: left;
}
.daily-deliveradjust-two table tr td:first-child{
    text-align: left;
    padding-left: 40px;
}
.daily-deliveradjust-two table tr td{
    text-align: left;
}
.daily-deliveradjust-online td{
    padding: 0!important;
}
.daily-deliveradjust-online div{
    background:#f3f3f3;
    margin-left: 28px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.daily-deliveradjust-online div input{
    width: 200px;
    height: 30px;
    line-height: 30px;
    display: inline-block;

}
.daily-deliveradjust-ydbh {
    margin-left:50px ;
    margin-right: 15px;
}
.daily-deliveradjust-online a{
    background: #19a677;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    color: #FFF;
    border-radius: 4PX;
}
.daily-deliveradjust-online a:hover{
    background: #0b9668;
}
.daily-deliveradjust-chose {
    width: 57px;
    height: 26px;
    display: inline-block;
    line-height: 26px;
    border-radius: 4PX;
    border: 1px solid #19a677;
    text-align: center;
    color: #19a677;
}
.daily-deliveradjust-chose:hover{
    background: #19a677;
    color: #fff;
}
.daily-deliveradjust-release {
    width: 1055px;
    text-align: center;
    margin: 40px 0 10px 24px;
}
.daily-deliveradjust-release button{
    width: 104px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(255, 143, 30);
    border: 0;
}
.daily-deliveradjust-release button:hover{
    background: #ef8922;

}
.iconprompt{
    font-size: 14px;
    color: #3395fa;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    position: relative;
}

.daily-deliveradjust-tips{
    position: absolute;
    top: -212px;
    left: -240px;
    display: none;
    background: #303133;
    color: #fff;
    width: 480px;
    height: 200px;
    padding: 15px;
    border-radius: 4px;
}
.daily-deliveradjust-tips::before{
    background: url('../images/ap-daily-angile.png') no-repeat;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 192px;
    left: 241px;
}
.daily-deliveradjust-tips .daily-deliveradjust-ywb{
    line-height: 24px;
    margin: 5px 0;
}
.daily-deliveradjust-leavemes input::placeholder,
.daily-deliveradjust-leavemes textarea::placeholder,
.daily-deliveradjust-leavemes textarea::-webkit-input-placeholder {
    color: #c0c4cc;
    font-weight: 300;
}
.modifyaddress .masklayer-form input::placeholder,
.modifyaddress .masklayer-form textarea::placeholder,
.modifyaddress .masklayer-form textarea::-webkit-input-placeholder
{
    color: #c0c4cc;
    font-weight: 300!important;
}
/*
modify address start
*/
.layer-modifyaddress-style .layui-layer-title {
    width: 845px;
    height: 50px !important;
    background: #fff !important;
    font-size: 20px !important;
    border-bottom: 2px solid #dcdfe6 !important;
}
.layer-modifyaddress-style .masklayer-form {
    background: #fff;
    width: 778px;
    border-radius: 8px;
    padding: 25px;
    overflow: hidden;
    box-sizing: content-box;
}
.modifyaddress table{
    border: 1px solid #dcdfe6;
}
.modifyaddress table th{
    padding:20px ;
    border-bottom: 1px solid #dcdfe6;
}
.modifyaddress table td{

    padding:20px ;
}
.modifyaddress table tr th:first-child,
.modifyaddress table tr td:first-child{
    background: #f2f6fc;
    border-right: 1px solid #dcdfe6;
}
.modifyaddress table tr label span{
    display: inline-block;
    width: 80px;
    color: #909399;
}
.modifyaddress table .form-group span{
    float: left;
    height: 40px;
    line-height: 40px;
}
.modifyaddress table .form-group select,
.modifyaddress table .form-group textarea
{
    float: left;
}
.modifyaddress table .form-group select{
    width: 176px;
    height: 40px;
    display: inline-block;
    color: #c0c4cc;
    font-weight: 300;
    margin-right: 20px;
}
.modifyaddress table td .form-group:first-child select:last-child{
    margin-right: 0px;
}

.modifyaddress table .form-group textarea{
    border: 1px rgb(228, 231, 237) solid;
    border-radius: 4px;
    width: 560px;
    height: 78px;
    resize: none;
}
.modifyaddress table .form-group input{
    display: inline-block;
    color: #c0c4cc;
    font-weight: 300;
    float: left;
    width: 367px;
    height: 38px;
    border: 1px rgb(228, 231, 237) solid;
    border-radius: 4px;
}
.modifyaddress table .form-group{
    margin-bottom: 10px;
}
.modifyaddress{
    display: none;
}
.ap-serve-consulting .ap-daily-order-tab span{
    width: 120px;
    text-align: center;
    margin-right: 0px;
}
.ap-serve-consulting .ap-daily-order-tab span:last-child{
    width: 84px;
}


/*
客服聊天
*/

.fast-reply-goods{
    width: 242px;
    border: 1px solid #e4e7ed;
    background: #fff;
    margin-bottom: 10px;
}

.fast-reply-dfh{
    border-bottom: 1px solid #e4e7ed;
    padding: 10px;
    overflow: hidden;

}
.fast-reply-dfh p {
    color: #909399;
    font-size: 12px;
    line-height: 24px;
}
.fast-reply-dfh p:first-child {
    color: #303133;
    white-space: nowrap;
    line-height: 24px;
    font-size: 14px;
    margin-bottom:15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fast-reply-goodsname p:first-child{
    margin-bottom:0px;
}
.daily-fast-reply{
    padding: 6px 14px;
    box-sizing: border-box;
}
.fast-reply-goodsname img{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #e4e7ed;
    margin-right: 10px;
    border-radius: 4px;
}
.fast-reply-goodsname div{
    float: left;
    width: 140px;
}
.goodsnums{
    text-align: right;
}
.fast-reply-zk div p:first-child{
    font-size: 12px;
    color: #909399;
    margin-bottom:0px;

}
.fast-reply-zk div p{
    line-height: 24px;
}
.daily-fast-reply .fast-reply-goods .fast-reply-zk span{
    float: right;
}
.fast-reply-zkss{
    color: #f63f52;
    font-size: 14px;
}
.fast-reply-dfh:last-child{
    border:0;
}
.fast-reply-dfh a{
   padding: 0px 8px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
}
.fast-reply-dfh .fast-reply-tuik{
    color: #ff8f1e;
    border: 1px solid #ff8f1e;
    margin-right: 15px;
}
.fast-reply-dfh .fast-reply-ycl{
    border: 1px solid rgb(51, 149, 250);
    color: rgb(51, 149, 250);
}
.fast-reply-dfh .fast-reply-fah{
    color: #19a677;
    border: 1px solid #19a677;
}

.consulting-right .ap-daily-order-list-wrap {
    overflow-y: scroll;
    height: 780px;
}
.fast-reply-goods .fast-reply-zzconsult p{
    line-height: 24px;
    margin-bottom:0px;
    color: #b4b8bf;
    font-size: 12px;
}
.fast-reply div:focus{
    border: 1px solid #19a677;
}
.fast-reply div{
    line-height: 20px;
    padding: 6px 13px;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    font-size: 14px;
    color:#909399 ;
    margin-bottom:10px;
}
